@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: "Montserrat";

	background: var(--body-color);

	transition: all 500ms ease-in-out;
}

.container {
	width: 100%;
	height: 300 px;

	margin: auto;
}

/****************************
Navigation
*****************************/
nav {
	width: 100%;
	height: 56px;

	background-color: var(--nav-bg);
	padding: 17px 0px 15px 17px;

	transition: all 500ms ease-in-out;
}

.btn-toggle-theme {
	height: 20px;
	width: 20px;
	background: var(--theme-btn-bg);
	border-radius: 50%;

	cursor: pointer;

	transition: all 200ms ease-in-out;
}

.btn-toggle-theme:hover {
	background: var(--theme-btn-hov-bg);
	box-shadow: 0 0 6px 5px var(--theme-btn-bg-shadow);

	cursor: pointer;

	transform: scale(1.2);
	transition: all 200ms ease-in-out;
}
/*end of navigation styling-------------------------------------------------------------*/

/****************************
Clocks
*****************************/
#world-time-container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 7.5%;
	gap: 10px;

	padding: 15px 0px 15px 17px;
	background-color: var(--wtc-bg);

	overflow-x: auto;
	overscroll-behavior-inline: contain;

	transition: all 500ms ease-in-out;
}

#world-time-container::-webkit-scrollbar {
	width: 2em;
}
#world-time-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px var(--wtc-scroll-track);
	transition: all 500ms ease-in-out;
}
#world-time-container::-webkit-scrollbar-thumb {
	background: var(--wtc-scroll-bg);
	background-image: var(--wtc-scroll-bg);
	transition: all 500ms ease-in-out;
}

.timezone-card {
	width: 120px;
	height: 162px; /*default is 192px*/
	padding-top: 10px;
	background: var(--tz-card);

	cursor: pointer;
	transition: all 500ms ease-in-out;
}

.daydetails {
	height: 110px;
	width: 110px;
	background: var(--day-det-box);
	margin: auto;

	pointer-events: none;

	transition: 200ms ease-out;
}

.clock-box {
	padding-top: 10px;
	display: flex;
	justify-content: center;

	pointer-events: none;
}

.month-date-box {
	display: flex;
	justify-content: center;

	font-size: 25px;

	pointer-events: none;
}

.clock {
	font-size: 23px;
	font-family: "Montserrat";
	font-weight: 800;

	pointer-events: none;

	color: var(--clock-color);
	transition: 200ms ease-out;
}

.timezone-hour {
	text-align: right;

	pointer-events: none;
}

.timezone-ticker {
	width: 7px;
	text-align: center;

	pointer-events: none;
}

.timezone-minutes {
	pointer-events: none;
}

.timezone-ampm {
	pointer-events: none;
}

.timezone-day {
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-weight: 700;

	pointer-events: none;

	color: var(--dotw-color);
	transition: 200ms ease-out;
}

.timezone-month {
	padding: 0px 2px 0px 2px;
	pointer-events: none;

	color: var(--month-color);
	transition: 200ms ease-out;
}

.timezone-date {
	padding: 0px 2px 0px 2px;
	pointer-events: none;

	color: var(--date-color);
	transition: 200ms ease-out;
}

.timezone-region {
	pointer-events: none;
	width: 100%;

	padding: 5px 5px 0px 4px;

	text-align: left;
	text-transform: uppercase;

	color: var(--region-color);
	transition: 200ms ease-out;
}

/*timezone hover animations*/

.timezone-card:hover .daydetails {
	transform: scale(1.09) translate(0px, -6px);
	pointer-events: none;

	transition: 300ms ease-out;
}

/* FORM SECTION ************************************************/
form {
	display: flex;
	flex-wrap: wrap;
	padding-top: 5px;

	width: 680px;

	background-color: var(--form-bg);
}

/* TEXT BOX SETUP ************************************************/
.inputContainer {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 50%;
	height: 45px;
	padding: 5px 5px 5px 5px;

	position: relative;
}

.inputContainer input {
	font-family: "Montserrat", "Raleway";
	border: 1px solid var(--inputbordercolor);
	background-color: var(--inputbg);
	color: var(--inputcolor);
	-webkit-appearance: none;

	width: 99%;
	height: 99%;

	font-size: small;
	padding-top: 12px;
}

.inputContainer select {
	font-family: "Montserrat", "Raleway";
	border: 1px solid var(--inputbordercolor);
	background-color: var(--inputbg);
	color: var(--inputcolor);
	-webkit-appearance: none;

	width: 99%;
	height: 99%;

	font-size: small;
	padding-top: 12px;

	position: relative;
	cursor: pointer;
}

.select-arrow {
	position: absolute;
	height: 31px;
	width: 31px;

	top: 7px;
	left: 299px;

	background-color: rgb(211, 211, 211);

	pointer-events: none;
}
.select-arrow::before,
.select-arrow::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;

	left: 50%;
	transform: translate(-50%, -50%);
}

.select-arrow::before {
	border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-bottom: 0.35em solid rgba(0, 0, 0, 0.5);

	top: 35%;
}

.select-arrow::after {
	border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.35em solid rgba(0, 0, 0, 0.5);

	top: 65%;
}

.inputContainer select option {
	padding: 5px;
}

.inputContainer .select-number {
	position: absolute;
	width: 25px;
	height: 35px;
	left: 273px;

	text-align: center;
}

.inputContainer label {
	font-size: x-small;

	text-transform: uppercase;
	z-index: 2147483647;

	position: absolute;
	left: 8px;
	top: 8px;

	pointer-events: none;
	font-weight: 600;

	color: var(--labelcolor);
}
